<!DOCTYPE html>
<link rel="stylesheet" href="/css/signup.css">
<form class="form-signup" role="form">
    <h2 class="form-signin-heading">Sign up</h2>
    <input class="form-control" placeholder="Username" required="" autofocus="">
    <input type="email" class="form-control" placeholder="Email" required="" autofocus="">
    <input type="password" class="form-control" placeholder="Password" required="">
    <input type="password" class="form-control" placeholder="Confirm password" required="">
    <button class="btn btn-success" type="submit">Sign up</button>
</form>