<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Sign in</title>
</head>
<body>
<!DOCTYPE html>
<link rel="stylesheet" href="/css/signin.css">
<form class="form-signin" role="form" action="/signin" method="post">
    <h2 class="form-signin-heading">Sign in</h2>
    <input type="username" class="form-control" placeholder="Username" required="" autofocus="">
    <input type="password" class="form-control" placeholder="Password" required="">
    <label class="checkbox" style="margin-left: 130px;">
        <input type="checkbox" value="remember-me"> Remember me
    </label>
    <button class="btn btn-primary" type="submit">Sign in</button>
    <div>
        or sign in with
        <a href="/auth/google" class="undecorated-link">
            <img src="/img/google.png" style="width: 70px;"/>
        </a>
    </div>
</form>
</body>
</html>