<link rel="stylesheet" href="/css/signin.css">
<div class="authen-header">
    <a href="/">
        <img alt="Trello logo"
             src="https://d2k1ftgv7pobq7.cloudfront.net/images/bd87ee916375920ae72dffadbb10d412/logo-blue-lg.png"/>
    </a>
</div>
<form class="form-signin" role="form" action="/signin" method="post">
    <h2 class="form-signin-heading">Sign in</h2>
    <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" name="username" placeholder="Username" autofocus=""/>
    </div>
    <div class="form-group">
        <label for="username">Password</label>
        <input class="form-control" name="password" placeholder="Password" type="password"/>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-primary" type="submit">Sign in</button>
    <div class="form-group">
        Or sign in with
        <a href="/auth/google" class="undecorated-link">
            <img src="/img/google.png" style="width: 70px;"/>
        </a>
    </div>
</form>